<div class="form-froup row">

  <label class="col-sm-2 col-form-label">Employee name:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" [(ngModel)]="name"
        placeholder="Enter employee name">
    </div>

    <label class="col-sm-2 col-form-label">RG:</label>
    <div class="col-sm-10">
      <input type="text" id="down" class="form-control" [(ngModel)]="rg" placeholder="Enter the RG">
    </div>
</div>

<button (click)="addEmployee()" *ngIf="emp.id==0" class="btn btn-primary">
  Add
</button>

<button (click)="updateEmployee()" *ngIf="emp.id!=0" class="btn btn-primary">
  Update
</button>
